@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .drag-none {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
}

@layer components {
  .profilebtn {
    @apply btn btn-ghost btn-sm h-[2.5rem] border-[2px] border-gray-300 
    hover:scale-105 hover:border-gray-300 hover:bg-base-200 transition-all duration-150 ease-out
  }

  .navbtn {
    @apply hidden h-8 md:inline-flex cursor-pointer
    hover:scale-125 transition-all duration-150 ease-out
  }

  .dropdownbtn {
    @apply w-10 h-10 p-1 cursor-pointer
  }

  .postbtn {
    @apply h-7 hover:scale-125 cursor-pointer transition-transform duration-500
  }
}
